<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

<h1 style= 'color: blue'> Todo Lists </h1>
<p> </br> </p

 
<h3></h3>


<%= search_form_for @q do |f| %>
  
  <%= f.label "Search Articles" %>
  <%= f.label :title_cont%>
  <%= f.search_field :title_cont%>
  
<% end %>

<%= button_to 'Clear Filter', todo_lists_path, :class => "button", :method => :get %>
<%= link_to 'Advanced Search', new_advanced_search_path %>


<h1></h1>
<table class="table table-sm table-striped ml-4", width="90%", style="font-size:20px;line-height:44px;">
  <thead class="thead", background-color: "brown">
    <tr>
      <th><%= sort_link(@q, :title, "Title", default_order: :asc)%></th>
      <th><%= sort_link(@q, :description, "Description", default_order: :asc) %></th>
      <th><%= sort_link(@q, :date, "Date", default_order: :desc) %></th>
      <th><%= sort_link(@q, :category, "Category", default_order: :asc) %></th>
      <th><%= sort_link(@q, :priority, "Priority", default_order: :asc) %></th>
      <th><%= sort_link(@q, :status, "Status", default_order: :asc) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
<p> </br> </br> </p
  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <% if current_user.id.to_s == todo_list.user.to_s %>
        <% if todo_list.status %>
          <% if Date.today > todo_list.date %>
            <tr style="color: red;">
              <td><%= todo_list.title %></td>
              <td><%= todo_list.description %></td>
              <td><%= todo_list.date %></td>
              <td><%= todo_list.category %></td>
              <td><%= todo_list.priority %></td>
              <td>Open</td>
              
          <%else%>
            <tr>
              <td><%= todo_list.title %></td>
              <td><%= todo_list.description %></td>
              <td><%= todo_list.date %></td>
              <td><%= todo_list.category %></td>
              <td><%= todo_list.priority %></td>
              <td>Open</td>
          <%end%>

        <%else%>
          <tr style="color: lime;">
            <td><%= todo_list.title %></td>
            <td><%= todo_list.description %></td>
            <td><%= todo_list.date %></td>
            <td><%= todo_list.category %></td>
            <td><%= todo_list.priority %></td>
            <td>Done</td>
        <%end%>
          
          <td><%= link_to 'Show', todo_list %></td>
          <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
          <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New To-Do Item', new_todo_list_path %>

<% else %>
<h1> Welcome to the ToDo App! </h1>
<h2> To access your ToDo List, please log in or sign up. </h2>
<% end %>
