<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @todo_list.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @todo_list.category %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @todo_list.priority %>
</p>

<p>
  <strong>Status:</strong>
  <% if @todo_list.status %>
    <td>Open</td>
  <%else%>
    <td>Done</td>
  <%end%>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %> |
<%= link_to 'New List', todo_lists_path %>
